# Ignore the IDE directories
.vscode/
.idea/
# Ignore all executable files
*.exe
*.out
*.app
# Ignore all object files
*.o
# Ignore binaries in the bin/ directory (and any subdirectories)
bin/
# Ignore CMake build files
build/
cmake-build-debug/
